<div id="appsDrop">

	<div class="header-hidden">
		<div class="container">
			<div class="appContent">
				<!--<h1>Applications</h1>-->
		
			<!--<button class="btn btnText btn-inverse" type="button"><img src="img/cog.png" /> Edit</button> -->
				<ul class="inline unstyled appTypes hidden-phone">
					<li class="marleft"><span class="rounded gre"></span>Business Apps</li>
					<li><span class="rounded blu"></span>Personal Apps</li>
					<li><span class="rounded ora"></span>Information Apps</li>
				</ul>
			<div class="span12 norm">	
				<div class="app">
					<span class="appIcon gre sourceIcon">
					</span>
					<a class="appTitle" href="#">Source</a>
				</div>
				<div class="app">
					<span class="appIcon gre eorderingIcon">
					</span>
					<a class="appTitle" href="#">eOrdering</a>
				</div>
				
				<div class="app">
					<span class="appIcon gre esafeIcon">
					</span>
					<a class="appTitle" href="#">E-Safe </a>
				</div>
				<div class="app">
					<span class="appIcon gre trimtaxIcon">
					</span>
					<a class="appTitle" href="#">Trim trax</a>
				</div>
				<div class="app">
					<span class="appIcon blu epayslipsIcon">
					</span>
					<a class="appTitle" href="#">ePayslips</a>
				</div>
				<div class="app">
					<span class="appIcon blu elearningIcon">
					</span>
					<a class="appTitle" href="#">eLearning</a>
				</div>
				<div class="app">
					<span class="appIcon blu pensionsIcon">
					</span>
					<a class="appTitle" href="#">Pensions</a>
				</div>
				<div class="app">
					<span class="appIcon blu autoleaseIcon">
					</span>
					<a class="appTitle" href="#">Lex Autolease</a>
				</div>
				<div class="app">
					<span class="appIcon blu travelIcon">
					</span>
					<a class="appTitle" href="#">Travel Portal</a>
				</div>
				<div class="app">
					<span class="appIcon ora hseIcon">
					</span>
					<a class="appTitle" href="#">HSE Website</a>
				</div>
				<div class="app">
					<span class="appIcon ora micrositeIcon">
					</span>
					<a class="appTitle" href="#">Mircosites</a>
				</div>
				<div class="app">
					<span class="appIcon ora solutionIcon">
					</span>
					<a class="appTitle" href="#">Solution Store</a>
				</div>
				<div class="app">
					<span class="appIcon ora weatherIcon">
					</span>
					<a class="appTitle" href="#">Weather</a>
				</div>
				<div class="app">
					<span class="appIcon ora shareIcon">
					</span>
					<a class="appTitle" href="#">Share Price</a>
				</div>
			</div>	
			</div>
		</div>
	</div>
	<div class="container">
		<div class="appsDropper">
			<a href="#" class="show-hide" data-target=".header-hidden">Applications</a> <span class="arrow down"></span>
		</div>
	</div>

</div>
<div class="container">
	<div class="row-fluid">

		<div class="span6 navbar">

			<button id="navverBut" type="button" class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button><a id="logoHold"href="#"><img src="img/logoMain.png" /></a>

		</div>
		<div class="span6 hidden-phone">

			<ul class="unstyled inline myright noPadLi">
				<!--<li>
	
					<button class="btn topbut"  type="button">
						<img src="img/mail.png"> Email <b>6</b>

					</button>
				</li>-->
				<li>
					<!--<span class="toolbar"><img src="img/icon-twitter.png" />3</span>-->
					<div class="btn-group" id="userprofilebutton">
						<button class="btn topbut dropdown-toggle" data-toggle="dropdown" type="button">
							<img src="img/user.png"> John Smith <span class="caret"></span>

						</button>
						<ul class="dropdown-menu">
							<!-- dropdown menu links -->
							<li>
								<a href="#">Preferences</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">Language</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<!--<span class="toolbar"><img src="img/icon-twitter.png" />3</span>-->
					<button id="logmeout" class="btn topbut" type="button">
						<img src="img/lock.png"> Logout

					</button>
				</li>
				<!--<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> John Smith <b class="caret"></b> </a>
				<ul class="dropdown-menu">
				<li>
				<a href="#">User settings</a>
				</li>
				<li class="divider"></li>
				<li>
				<a href="#">Logout</a>
				</li>
				</ul>

				</li>-->
			</ul>
		</div>
	</div>

	<div class="navbar navbar-inverse ">
		<div class="navbar-inner">

			<button type="button" class="btn btn-navbar hidden-phone" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="nav-collapse collapse">

				<ul class="nav">
					<li>
						<a href="#journey2">Home</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sectors <b>+</b></a>
						<ul class="dropdown-menu " role="menu">
							<li><a class="notactive" href="#">B &#38; I</a></li>
							<li><a class="notactive" href="#">D.O.R</a></li>
							<li><a class="notactive" href="#">Education</a></li>
							<li><a class="notactive" href="#">Healthcare</a></li>
							<li><a class="notactive" href="#">VSG</a></li>
							<li><a class="notactive" href="#">ICM</a></li>
							<li><a class="notactive" href="#">SL &#38; H </a></li>
						</ul>
						
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Business Support <b>+</b></a>
						<ul class="dropdown-menu " role="menu">
							<li><a href="#faqView">Human Resources</a></li>
							<li><a href="#faqView">I.T</a></li>
							<li><a href="#faqView">Education</a></li>
							<li><a href="#faqView">Healthcare</a></li>
							<li><a href="#faqView">Finance</a></li>
						
						</ul>
						
					</li>
					<!--<li>
						<a href="#">Sectors <b>+</b></a>
					</li>-->
				<!--
					<li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Directory <b>+</b></a>
						<div class="dropdown-menu customDrop" role="menu">
							<ul class="dropHeight">
							<li><a href="#userguideview">A User's Guide</a></li>
							<li><a href="#">Business Efficiency</a></li>
							<li><a href="#">Business Intelligence</a></li>
							<li><a href="#">Finance</a></li>
							<li><a href="#">Health, Safety, Environment</a></li>
							</ul>
							<ul class="dropHeight">
							<li><a href="#">HR</a></li>
							<li><a href="#">Hospitality Offers</a></li>
							<li><a href="#">Marketing</a></li>
							<li><a href="#">Mobliisation Handbook</a></li>
							<li><a href="#">Operational</a></li>
							</ul>
							<ul class="dropHeight">
							<li><a href="#">Profit Protection</a></li>
							<li><a href="#">Purchasing</a></li>
							<li><a href="#">Restaurant Associates</a></li>
							<li><a href="#">Training</a></li>
							</ul>
						</div>
						
					</li>-->
					
					<li>
						<a class="notactive" href="#">Jobs</a>
					</li>
					<!--<li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b>+</b></a>
						<div class="dropdown-menu customDrop" role="menu">
							<ul>
							<li><a href="#faqView">FAQ'S</a></li>
							<li><a href="#">Health, Safety</a></li>
							<li><a href="#">Human Resources</a></li>
							<li><a href="#">Right to Work</a></li>
							<li><a href="#">Recruitment</a></li>
							<li><a href="#">Learning &#38; Development</a></li>
							<li><a href="#">Pension Auto Enrolment</a></li>
							<li><a href="#">Pensions</a></li>
							</ul>
							<ul>
							<li><a href="#">Information Technology</a></li>
							<li><a href="#">Communications</a></li>
							<li><a href="#">Finance</a></li>
							
							<li><a href="#">Marketing and Food</a></li>
							<li><a href="#">Sales &#38; Retention</a></li>
							<li><a href="#">Transport</a></li>
							<li><a href="#">Commercial</a></li>
							</ul>
							<ul>
							<li><a href="#">Lime Venue Portfolio</a></li>
							<li><a href="#">Applications</a></li>
							<li><a href="#">Profit Protection</a></li>
							<li><a href="#">Labour Efficiency</a></li>
							<li><a href="#">Business Efficiency</a></li>
							<li><a href="#">Resource Network</a></li>
							</ul>
						</div>
						
					</li>-->
					<li>
						<a class="notactive" href="#">Connections</a>
					</li>
				</ul>
				<div class="input-append pull-right customSearch visible-desktop">
					<input id="appendedDropdownButton" type="text">
					<div class="btn-group">
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							All
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Options</a>
							</li>
							<li>
								<a href="#">More options</a>
							</li>
						</ul>
					</div>
					<button class="btn btn-inverse" id="searchButton" type="button">
						<img src="img/mag.png">

					</button>
				</div>
			</div><!--/.nav-collapse -->

		</div>
	</div>
</div>