<div class="row-fluid">
	<div id="alertBar" class="hidden-phone">
			
			<h4 class="hidden-phone">Alert |</h4>
			<a href="#newsarticle">Urgent product recall - action for all units: more</a>	
			<ol class="carousel-indicators pull-right hidden-phone">
				<li data-target="#storiesCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#storiesCarousel" data-slide-to="1" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="2" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="3" class=""></li>
			</ol>	
			<!--<a href="" class="hidden-tablet" id="dismissAlert">Dismiss <span class="visible-desktop">X</span></a>-->	 
		</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="newsTitle">
			<h1>FAQ'S</h1>
		</div>
	</div>
	<div class="span3 norm hidden-phone">
		<ul class="newsNav unstyled ">
			<li class="selectedNews">
				<a class="notactive"href="#">FAQ's</a>
			</li>
			<li>
				<a class="notactive"href="#">Health, Safety, Environment</a>
			</li>
			<li>
				<a class="notactive"href="#">Human Resources Support</a>
			</li>
			<li>
				<a class="notactive"href="#">Right to Work</a>
			</li>
			<li>
				<a class="notactive"href="#">Recruitment</a>
			</li>
			<li>
				<a class="notactive"href="#">Learning &#38; Development</a>
			</li>
			<li>
				<a class="notactive"href="#">Pension Auto Enrolment</a>
			</li>
			<li>
				<a class="notactive"href="#">Pensions</a>
			</li>
			<li>
				<a class="notactive"href="#">Information Technology</a>
			</li>
			<li>
				<a class="notactive"href="#">Communications</a>
			</li>
			<li>
				<a class="notactive"href="#">Finance</a>
			</li>
			<li>
				<a class="notactive"href="#">Legal &#38; Corporate Secretarial Services</a>
			</li>
			<li>
				<a class="notactive"href="#">Marketing &#38; Foodservice</a>
			</li>
			<li>
				<a class="notactive"href="#">Sales &#38; Retetion</a>
			</li>
			<li>
				<a class="notactive"href="#">Transport</a>
			</li>
			<li>
				<a class="notactive"href="#">Commercial</a>
			</li>
		</ul>

		<h4>Useful Links <span class="claret"></span></h4>
		<ul class="unstyled usefullinks">
			<li>
				<a class="notactive"href="#">HMRC</a>
			</li>
			<li>
				<a class="notactive"href="#">Lorem Ipsum</a>
			</li>
			<li>
				<a class="notactive"href="#">Ipsum Lorem</a>
			</li>
			<li>
				<a class="notactive"href="#">Compass Worldwide</a>
			</li>

		</ul>
	</div>
	<div class="span9">
		<div class="newsContent">
			<h3>FAQ's</h3>
			<div class="newsFilter">
				<p class="hidden-phone">
					Filter
				</p>
				<div class="btn-group newsfilterbutton">
					<button class="btn btn-small">
						Most Popular
					</button>
					<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="notactive"href="#">All news</a>
						</li>
						<li>
							<a class="notactive"href="#">Some filter</a>
						</li>
						<li>
							<a class="notactive"href="#">Another filter</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="centerAccord">
				<div id="accordion2" class="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What is Compass Group's policy on healthy eating? </a>
						</div>
						<div class="accordion-body collapse in" id="collapseOne">
							<div class="accordion-inner">
								<p>
								We know we have an enormous influence on what our customers choose to eat and drink. Health, good nutrition and encouraging a balanced approach to eating are at the heart of our business and our policies reflect this approach. Balanced Choices, our healthy eating programme, offers products and dishes that fit into a more health conscious lifestyle. It also offers more point-of-sale awareness that helps customers choose healthier options. This is supported by our exclusive Steamplicity brand, which uses the latest steam technology to provide a great range of freshly-cooked meals.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What is Compass Group's approach to animal welfare?</a>
						</div>
						<div class="accordion-body collapse" id="collapseTwo">
							<div class="accordion-inner">
								<p>
								Compass Group UK and Ireland’s animal welfare policy endorses the 'Five Freedoms' concept proposed by the Farm Animal Welfare Council (FAWC) as outlined by Council Directive 98/58/EC on the protection of animals kept for farming purposes. The five freedoms are:
								</p>
								<ul>
									<li>Freedom from hunger and thirst</li>
									<li>Freedom from discomfort</li>
									<li>Freedom from pain, injury or disease</li>
									<li>Freedom to express normal behaviour</li>
									<li>Freedom from fear and distress</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapse3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What are Compass Group's views on ethical trading?</a>
						</div>
						<div class="accordion-body collapse" id="collapse3">
							<div class="accordion-inner">
								<p>
									Compass Group is committed to ensuring that all of our dealings with suppliers - from the point of search and selection, through to supply and payment - are conducted in accordance with our guiding principles of responsible and ethical trading. These criteria are:</p>
									<ul>
										<li>Employment is freely chosen</li>
										<li>Freedom of association and the right to collective bargaining is respected</li>
										<li>Working conditions are safe and hygienic</li>
										<li>Child labour shall not be used</li>
										<li>Living wages are paid</li>
										<li>Working hours are not excessive</li>
										<li>No discrimination is practised</li>
										<li>Regular employment is provided</li>
										<li>No harsh or inhumane treatment is allowed</li>
									</ul>
									<p>Our ethical good practice is promoted by positive selection of suppliers demonstrating the points noted above, and by the encouragement of best practice amongst all suppliers. We expect our suppliers to adopt a similar position with their supply base and to implement similar internal policies to those in Compass Group.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapse4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What is Compass Group's commitment to charity?</a>
						</div>
						<div class="accordion-body collapse" id="collapse4">
							<div class="accordion-inner">
								<p>
								In January 2009, Compass Group announced a two year partnership with Cancer Research UK with the aim of raising £250,000 in year one. This is the first time that Compass Group has partnered with a single charity, bringing together employees from over 5,500 locations across the UK to make a real difference by raising a substantial amount of money to help Cancer Research UK continue its life-saving work.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapse5" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">What is Compass' policy on sourcing food regionally?</a>
						</div>
						<div class="accordion-body collapse" id="collapse5">
							<div class="accordion-inner">
								<p>
								We are committed to British sourcing where seasonality, availability and quality allow. A significant portion of our food is already sourced from the UK and we aim to buy more great quality British produce. Sourcing food regionally is important to us as a company because it helps us support British farmers as well as maintain a robust supply chain with complete traceability and supplier due diligence. Find out more about how we source our food regionally and responsibly.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapse6" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Why can't all produce be sourced locally?</a>
						</div>
						<div class="accordion-body collapse" id="collapse6">
							<div class="accordion-inner">
								<p>
								We are often asked to use local suppliers and distributors. However, they face the same challenges of seasonality and product availability as we do. It is highly likely that they source their products from the same parts of the world as we do and our produce would have travelled the same distance.</p>
								<p>The products we supply cannot always be local. Some fresh products are just not produced in the UK and due to changes in seasons, very little produce is available from the same place for the whole year. We source products outside the country when the product is not grown locally, when it is only grown in the UK for part of the year.</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a href="#collapse7" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">Does Compass Group supply organic produce?</a>
						</div>
						<div class="accordion-body collapse" id="collapse7">
							<div class="accordion-inner">
								<p>
								We source Soil Association accredited alternatives to key lines in relevant product categories to meet customer demand for organic produce. These include fruit and vegetables, meat and dairy, and certain manufactured items such as sandwiches, delicatessen products, drinks and snacks. Our supply of organic produce is worth annually approximately £5m and we aspire to grow and maintain this range based on client and consumer demand. All suppliers must ensure, and demonstrate by third party verification, certificates and use of logos, that all organic produce or manufactured product supplied to us complies with production, quality and traceability standards.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<ul>
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
