<div class="row-fluid">
	<div class="span6">
		
		<!--<div id="alertBar">
			<ul class="unstyled inline">
				<li><h4 class="hidden-phone">Alert |</h4></li>
				<li><p>Urgent product recall - action for all units</p></li>
			
				<li>
					<a href="#">Details <span class="caret"></span></a>
				</li>
			</ul>
			
		</div>-->
		
		<div class="contentBox fullContent">
			<h3>Top Stories</h3>
			<ol class="carousel-indicators pull-right">
				<li data-target="#storiesCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#storiesCarousel" data-slide-to="1" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="2" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="3" class=""></li>
			</ol>
			<div id="storiesCarousel" class="carousel slide">
				<div class="carousel-inner">
					<div class="item active">
						<div class="mediaHolder">
							<img src="img/video-holder.png" />
							<h5>Peleum consequat vel</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel enim et nulla fringilla ultricies consequat id libero. 
							</p>
							<i>Posted May 16</i>
							<a href="#">Full Story</a>
						</div>
					</div>
					<!--<div class="item">

					2 stories

					</div>
					<div class="item">
					3 stories

					</div>-->
				</div>

			</div>
		</div>

		<div class="contentBox halfContent">
			<h3>News</h3>
			<div class="btn-group" id="newsFilter">
				<button class="btn btn-small">
					All News
				</button>
				<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">All news</a></li>
					<li><a href="#">Some filter</a></li>
					<li><a href="#">Another filter</a></li>
				</ul>
			</div>
			<ul class="unstyled">
				<li><img src="img/dummy-thumb1.png" /><h5>Enim ad mnim veniam</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">More</a></p></li>
				<li><img src="img/dummy-thumb2.png" /><h5>Minim veniam quis</h5><p>Praesent ullamcorper commodo orci, ac ornare nibh euismod <a href="#">More</a></p></li>
				<li><img src="img/dummy-thumb3.png" /><h5>Ad minim veniam</h5><p> In id felis in libero viverra vestibulum. Nam sed neque erat. <a href="#">More</a></p></li>
			</ul>
			<a class="moreNews" href="#">More News</a>
		</div>
		
		<div class="contentBox halfContent lastCon">
			<h3>My Tasks </h3>
			<ul class="unstyled">
				<li class="urgent">You have 2 employee holidays to review</li>
				<li class="urgent">You have 3 timesheets to review</li>
				<li class="nonUrgent">You have 11 mid-term reviews to complete</li>
				<li class="nonUrgent">You need to complete 'eOrdering eLearning' 4 days overdue</li>
				<li class="nonUrgent">You have 1 employee 15 long service award due in 10 days</li>
			</ul>
			<a href="#" class="moreNewsMar">More</a>
		</div>

	</div>
	<div class="span3 apps blue">
		<h3>My Apps &#38; Widgets</h3>
		<ul class="unstyled blueList">
			<li>
				<h6>Yammer</h6> <b>1</b>
				
				<p><i>Status Change:</i> Sarah Jones just arrived at the airport...</p>
				
			</li>
			<li>
				<h6>Calendar</h6> <b>3</b>
				
				<p>Tues June 14 2013</p>
				<p>MTG: Duis autern vet eum...</p>
			</li>
			<li>
				<h6>Email</h6> <b>6</b>
				
				<p>MSG: Duis autern vet eum.</p>
				<p>RE: Iriure in hendrerit vulp....</p>
			</li>
			<li>
				<h6>My Tasks</h6> <b>11</b>
				
				<p>Duis autern vet eum.</p>
				<p>Iriure in hendrerit vulp....</p>
			</li>
		</ul>
		
	</div>
	<div class="span3 apps green">
		 <button class="btn btnText" type="button"><img src="img/cog.png" /> Edit</button>  
		<ul class="unstyled blueList">
			<li>
				<h6>Source</h6>
				<p>Version 3.4</p>
			</li>
			<li>
				<h6>iApprove</h6>
				<p>No approvals pending</p>
			</li>
			<li><h6>Microsites</h6><p>Duis autern vet eum</p></li>
			
		</ul>
	</div>
</div>
