<div class="row-fluid">
	<div id="alertBar" class="hidden-phone">
			
			<h4 class="hidden-phone">Alert |</h4>
			<a href="#newsarticle">Urgent product recall - action for all units: more</a>	
			<ol class="carousel-indicators pull-right hidden-phone">
				<li data-target="#storiesCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#storiesCarousel" data-slide-to="1" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="2" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="3" class=""></li>
			</ol>	
			<!--<a href="" class="hidden-tablet" id="dismissAlert">Dismiss <span class="visible-desktop">X</span></a>-->	 
		</div>
</div>
<div class="row-fluid">
	<div class="span6">
		
		
		
		
		<div class="contentBox fullContent">
			<h3>Top Stories</h3>
			<ol class="carousel-indicators pull-right">
				<li data-target="#storiesCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#storiesCarousel" data-slide-to="1" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="2" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="3" class=""></li>
			</ol>
			<div id="storiesCarousel" class="carousel slide">
				<div class="carousel-inner">
					<div class="item active">
						<div class="mediaHolder">
							<img src="img/video-holder.png" />
							<h5>Peleum consequat vel</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel enim et nulla fringilla ultricies consequat id libero. 
							</p>
							<i>Posted May 16</i>
							<a href="#newshome">More</a>
						</div>
					</div>
					<div class="item">
						<div class="mediaHolder">
							<img src="img/video-holder2.png" />
							<h5>Morbi non mattis</h5>
							<p>
								Sed dignissim laoreet nibh, id varius dolor adipiscing non. Proin vel nulla non urna consequat interdum. 
							</p>
							<i>Posted May 12</i>
							<a href="#newshome">More</a>
						</div>
					</div>
					<!--<div class="item">

					2 stories

					</div>
					<div class="item">
					3 stories

					</div>-->
				</div>

			</div>
		</div>

		<div class="contentBox halfContent">
			<h3>News</h3>
			<!--<div class="btn-group" id="newsFilter">
				<button class="btn btn-small">
					All News
				</button>
				<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#newshome">All news</a></li>
					<li><a href="#newshome">Some filter</a></li>
					<li><a href="#newshome">Another filter</a></li>
				</ul>
			</div>-->
			<ul class="unstyled">
				<li><img src="img/dummy-thumb1.png" /><h5>Enim ad mnim veniam</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">More</a></p></li>
				<li><img src="img/dummy-thumb2.png" /><h5>Minim veniam quis</h5><p>Praesent ullamcorper commodo orci, ac ornare nibh euismod <a href="#">More</a></p></li>
				<li><img src="img/dummy-thumb3.png" /><h5>Ad minim veniam</h5><p> In id felis in libero viverra vestibulum. Nam sed neque erat. <a href="#">More</a></p></li>
				<li><img src="img/dummy-thumb3.png" /><h5>Ad minim veniam</h5><p> In id felis in libero viverra vestibulum. Nam sed neque erat. <a href="#">More</a></p></li>
			</ul>
			<a class="moreNews" href="#">More News</a>
		</div>
		
		<div class="contentBox halfContent lastCon">
			<h3>Social Task </h3>
			<ul class="unstyled">
				<li class="urgent">You have 2 employee holidays to review</li>
				<li class="urgent">You have 3 timesheets to review</li>
				<li class="nonUrgent">You have 11 mid-term reviews to complete</li>
				<li class="nonUrgent">You need to complete 'eOrdering eLearning' 4 days overdue</li>
				<li class="nonUrgent">You have 1 employee 15 long service award due in 10 days</li>
			</ul>
			<a href="#" class="moreNewsMar">More</a>
		</div>

	</div>
	<div class="span3 apps blue">
		<h3>My Apps &#38; Widgets</h3>
		<ul class="unstyled blueList">
			<li>
				<h6>ePayslips</h6> <b>6</b>
				
				<p>June Payslip available</p>
				
			</li>
			<li>
				<h6>My Tasks</h6> <b>5</b>
				
				<p>2 employee holidays to review</p>
				<p>3 timesheets to approve</p>
			</li>
			<li class="elearningBack">
				<h6>eLearning</h6> 
				
				<p>New certificates available</p>
				
			</li>
			<li>
				<h6>Email</h6> <b>11</b>
				
				<p>MSG: Todays meeting will be...</p>
				<p>RE: Documents available at...</p>
			</li>
			<li class="orangeApp">
				<h6>Weather</h6> <b>London</b>
				
				<p><img src="img/sunIcon.png" /> Tomrrow 52/ 78 Degrees</p>
				<p><img src="img/cloudIcon.png" /> Wednesday 52/ 79 Degrees</p>
			</li>
		</ul>
		
	</div>
	<div class="span3 apps green marAdder">
		 <button class="btn btnText" type="button"><img src="img/cog.png" /> Edit</button>  
		<ul class="unstyled blueList">
			<li class="sourceBack">
				<h6>Source</h6>
				<p>Version 3.4</p>
			</li>
			<li>
				<h6>iApprove</h6>
				<p>No approvals pending</p>
			</li>
			<li class="microBack orangeApp"><h6>Microsites</h6><p>Duis autern vet eum</p></li>
			<li class="orangeApp">
				<h6>Employee Benefits</h6> 

			</li>
			<li class="orangeApp">
				<h6>Share Price</h6> <b>CPG</b>
				
				<p><img src="img/shareIcon.png" / >668.43</p>
				<i>Last Trade: 04:00PM 5/23/12</i>
			</li>
			
		</ul>
	</div>
</div>
