<div class="row-fluid">

	<div class="modal compassLogin">
		<form id="loginBack" class="form-horizontal">

			<!-- Button -->
			<div class="halfForm topLogger">
				
			</div>

			<div class="halfForm">
				<!-- Username -->
				<label  for="username">Username</label>

				<input type="text" id="username" name="username" placeholder="" >

				<!-- Password-->
				<label for="password">Password</label>

				<input type="password" id="password" name="password" placeholder="" >

				<div class="checkboxholder">
					<input type="checkbox" />
					<label for="remember">Remember me</label>
				</div>
				<ul class="unstyled inline">
					<li><button id="logmein" class="btn btn-success">
					Login
				</button>
				<a class="passwordclass" href="#">Forgot Password ?</a></li>
				<li><button id="logmein" class="btn">
						Register
				</button>
				<a class="passwordclass" href="#">First Time ?</a></li>
				</ul>
				
				
				
				
			</div>

		</form>
	</div>

</div>
