<div class="row-fluid">
	<div id="alertBar" class="hidden-phone">
			
			<h4 class="hidden-phone">Alert |</h4>
			<a href="#newsarticle">Urgent product recall - action for all units: more</a>	
			<ol class="carousel-indicators pull-right hidden-phone">
				<li data-target="#storiesCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#storiesCarousel" data-slide-to="1" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="2" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="3" class=""></li>
			</ol>	
			<!--<a href="" class="hidden-tablet" id="dismissAlert">Dismiss <span class="visible-desktop">X</span></a>-->	 
		</div>
</div>
<div class="row-fluid">

	<div class="span3 norm hidden-phone">
		<ul class="newsNav unstyled">
			<li class="selectedNews">
				<a class="notactive" href="#newshome">Latest News</a>
			</li>
			<li>
				<a class="notactive" href="#newshome">UK &#38; Ireland PR</a>
			</li>
			<li>
				<a class="notactive" href="#newshome">Compass Group PLC PR</a>
			</li>
			<li>
				<a class="notactive" href="#newshome">Compass Worldwide</a>
			</li>
			<li>
				<a class="notactive" href="#newshome">News Summaries</a>
			</li>
		</ul>

		<h4>Useful Links <span class="claret"></span></h4>
		<ul class="unstyled usefullinks">
			<li>
				<a class="notactive" href="#">HMRC</a>
			</li>
			<li>
				<a class="notactive" href="#">Lorem Ipsum</a>
			</li>
			<li>
				<a class="notactive" href="#">Ipsum Lorem</a>
			</li>
			<li>
				<a class="notactive" href="#">Compass Worldwide</a>
			</li>

		</ul>
	</div>
	<div class="span9">
		<div class="newsContent">
			<h3>NEWS ARTICLE TITLE</h3>
			<div class="newsFilter">
				<p>
					25/04/2013
				</p>
			</div>
			<div class="actualArticle">
				<img src="img/news-article.png" />
				<p>
					<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu orci diam, quis porta orci. Donec lorem orci, laoreet ac dignissim quis, tincidunt convallis lectus. Phasellus scelerisque, erat vel lacinia molestie, augue urna varius leo, non dignissim libero enim in mi. </b>
				</p>
				<p>
					Quisque aliquam mauris non leo dignissim luctus. Pellentesque commodo, mi sit amet consequat ultricies, velit purus rutrum orci, sed pharetra ipsum lectus quis magna. Vivamus commodo venenatis tortor eu venenatis. Cras imperdiet, est at aliquet ornare, nunc velit facilisis libero, ornare consectetur metus est a leo. Nullam malesuada, turpis quis mattis accumsan, eros sapien pretium arcu, in tincidunt nisl est vel nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti.
				</p>
				<p>
					Aliquam vitae felis ipsum, eget sollicitudin arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam convallis ultrices placerat. Duis at augue sed leo dictum molestie at et arcu. Aliquam non est nec dolor molestie bibendum non id libero. Ut eget lorem vitae eros varius tincidunt. Nunc vitae neque quam, vitae rutrum magna. Nunc gravida malesuada quam, eu blandit risus ullamcorper id. Morbi mauris neque, malesuada quis commodo non, elementum vel sapien. Curabitur ante leo, ultrices porta sollicitudin et, consequat ac urna. Donec id lacus eget elit elementum hendrerit. Integer diam erat, pulvinar consectetur congue a, porttitor quis mi.
				</p>
				<p>
					Aenean pretium, nunc et ornare interdum, nulla justo interdum mauris, et pharetra tortor nisl ac ligula. Mauris vitae eros justo. Quisque et pharetra eros. Nullam consectetur scelerisque facilisis. Quisque feugiat vulputate enim, sit amet vulputate diam luctus sed. Suspendisse fringilla rutrum erat, volutpat iaculis velit sodales eu. Sed cursus mollis nunc vitae consectetur. Aliquam id orci metus, sed tincidunt massa. Fusce congue fringilla enim sit amet feugiat. Praesent auctor pellentesque justo, sit amet venenatis elit fringilla nec. Praesent lobortis dolor id massa dapibus ultrices. Praesent tempus elementum tempor.
				</p>
				<p>
					Mauris rutrum urna non tortor tempus tristique. Duis hendrerit diam a massa tristique laoreet. Vestibulum quis lectus sit amet augue accumsan dictum. Nam suscipit, libero ac cursus sagittis, felis nunc imperdiet lectus, non porta nulla odio vitae orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi tellus metus, sodales in facilisis nec, consequat sit amet nisl. Sed vitae lorem quis ante luctus fringilla eu tempus sapien. Vestibulum facilisis sagittis diam nec dapibus.
				</p>
			</div>
		</div>
	</div>
</div>
