<div class="row-fluid">
	<div id="alertBar" class="hidden-phone">
			
			<h4 class="hidden-phone">Alert |</h4>
			<a href="#newsarticle">Urgent product recall - action for all units: more</a>	
			<ol class="carousel-indicators pull-right hidden-phone">
				<li data-target="#storiesCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#storiesCarousel" data-slide-to="1" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="2" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="3" class=""></li>
			</ol>	
			<!--<a href="" class="hidden-tablet" id="dismissAlert">Dismiss <span class="visible-desktop">X</span></a>-->	 
		</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="newsTitle">
			<h1>NEWS FEED</h1>
		</div>
	</div>
	<div class="span3 norm hidden-phone">
		<ul class="newsNav unstyled">
			<li>
				<a class="notactive" href="#">Latest News</a>
			</li>
			<li>
				<a class="notactive" href="#">UK &#38; Ireland PR</a>
			</li>
			<li>
				<a class="notactive" href="#">Compass Group PLC PR</a>
			</li>
			<li>
				<a class="notactive" href="#">Compass Worldwide</a>
			</li>
			<li>
				<a class="notactive" href="#">News Summaries</a>
			</li>
		</ul>

		<h4>Useful Links <span class="claret"></span></h4>
		<ul class="unstyled usefullinks">
			<li>
				<a class="notactive" href="#">HMRC</a>
			</li>
			<li>
				<a class="notactive" href="#">Lorem Ipsum</a>
			</li>
			<li>
				<a class="notactive" href="#">Ipsum Lorem</a>
			</li>
			<li>
				<a class="notactive" href="#">Compass Worldwide</a>
			</li>

		</ul>
	</div>
	<div class="span9">
		<div class="newsContent">
			<h3>LATEST NEWS</h3>
			<div class="newsFilter">
				<p>
					Filter
				</p>
				<div class="btn-group newsfilterbutton">
					<button class="btn btn-small">
						Most Popular
					</button>
					<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="#">All news</a>
						</li>
						<li>
							<a href="#">Some filter</a>
						</li>
						<li>
							<a href="#">Another filter</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="newsItem">
				<img src="img/newsThumb.png" />
				<h5>News Item Title</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et quam non risus imperdiet iaculis id vel mi. Sed elementum ultrices sodales. Pellentesque nec lorem sit amet lectus imperdiet hendrerit. Pellentesque vel ipsum purus, euismod sagittis massa. Praesent sit amet neque enim, sit amet porta justo. Mauris eros ipsum, dictum nec condimentum nec, convallis eget justo. Cras ultricies, tellus et volutpat euismod, urna magna pharetra eros, ac porttitor purus odio eget lorem. Nulla aliquam venenatis risus at porta. Sed sapien enim, sagittis vestibulum faucibus sed, luctus eget enim. Praesent vel augue ac erat laoreet aliquet. Nulla facilisi.  </p>
				<i>Version 2.1 03/04/2013</i>
				<a href="#newsarticle">Read More </a>
			</div>
			
			<div class="newsItem">
				<img src="img/newsThumb.png" />
				<h5>News Item Title</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et quam non risus imperdiet iaculis id vel mi. Sed elementum ultrices sodales. Pellentesque nec lorem sit amet lectus imperdiet hendrerit. Pellentesque vel ipsum purus, euismod sagittis massa. Praesent sit amet neque enim, sit amet porta justo. Mauris eros ipsum, dictum nec condimentum nec, convallis eget justo. Cras ultricies, tellus et volutpat euismod, urna magna pharetra eros, ac porttitor purus odio eget lorem. Nulla aliquam venenatis risus at porta. Sed sapien enim, sagittis vestibulum faucibus sed, luctus eget enim. Praesent vel augue ac erat laoreet aliquet. Nulla facilisi. </p>
				<i>Version 2.1 03/04/2013</i>
				<a href="#newsarticle">Read More </a>
			</div>
			
			<div class="newsItem marBot">
				<img src="img/newsThumb.png" />
				<h5>News Item Title</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et quam non risus imperdiet iaculis id vel mi. Sed elementum ultrices sodales. Pellentesque nec lorem sit amet lectus imperdiet hendrerit. Pellentesque vel ipsum purus, euismod sagittis massa. Praesent sit amet neque enim, sit amet porta justo. Mauris eros ipsum, dictum nec condimentum nec, convallis eget justo. Cras ultricies, tellus et volutpat euismod, urna magna pharetra eros, ac porttitor purus odio eget lorem. Nulla aliquam venenatis risus at porta. Sed sapien enim, sagittis vestibulum faucibus sed, luctus eget enim. Praesent vel augue ac erat laoreet aliquet. Nulla facilisi.  </p>
				<i>Version 2.1 03/04/2013</i>
				<a href="#newsarticle">Read More </a>
			</div>
			
			<div class="pagination">
				<ul>
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
