<div class="row-fluid">
	<div id="alertBar" class="hidden-phone">
			
			<h4 class="hidden-phone">Alert |</h4>
			<a href="#newsarticle">Urgent product recall - action for all units: more</a>	
			<ol class="carousel-indicators pull-right hidden-phone">
				<li data-target="#storiesCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#storiesCarousel" data-slide-to="1" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="2" class=""></li>
				<li data-target="#storiesCarousel" data-slide-to="3" class=""></li>
			</ol>	
			<!--<a href="" class="hidden-tablet" id="dismissAlert">Dismiss <span class="visible-desktop">X</span></a>-->	 
		</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="newsTitle">
			<h1>SEARCH RESULTS</h1>
		</div>
	</div>
	<div class="span3 norm hidden-phone">
		<ul class="newsNav unstyled ">
			<li class="selectedNews">
				<a href="#userguideview">A User's Guide</a>
			</li>
			<li>
				<a class="notactive" href="#">Business Efficiency</a>
			</li>
			<li>
				<a class="notactive" href="#">Business Intelligence</a>
			</li>
			<li>
				<a class="notactive" href="#">Finance</a>
			</li>
			<li>
				<a class="notactive" href="#">Health, Safety, Environment</a>
			</li>
			<li>
				<a class="notactive" href="#">HR</a>
			</li>
			<li>
				<a class="notactive"href="#">Hospitality Offers</a>
			</li>
			<li>
				<a class="notactive"href="#">Marketing</a>
			</li>
			<li>
				<a class="notactive"href="#">Mobilisation Handbook</a>
			</li>
			<li>
				<a class="notactive"href="#">Operational</a>
			</li>
			<li>
				<a class="notactive"href="#">Profit Protection</a>
			</li>
			<li>
				<a class="notactive"href="#">Purchasing</a>
			</li>
			<li>
				<a class="notactive"href="#">Restaurant Associates</a>
			</li>
			<li>
				<a class="notactive"href="#">Training</a>
			</li>
		</ul>

		<h4>Useful Links <span class="claret"></span></h4>
		<ul class="unstyled usefullinks">
			<li>
				<a class="notactive"href="#">HMRC</a>
			</li>
			<li>
				<a class="notactive"href="#">Lorem Ipsum</a>
			</li>
			<li>
				<a class="notactive"href="#">Ipsum Lorem</a>
			</li>
			<li>
				<a class="notactive"href="#">Compass Worldwide</a>
			</li>

		</ul>
	</div>
	<div class="span9">
		<div class="newsContent">
			<h3>SEARCH RESULTS</h3>
			<div class="newsFilter">
				<p class="hidden-phone">
					Search
				</p>
				<div class="input-append" id="userSearch">
					<input class="" id="appendedDropdownButton" type="text">
					<div class="btn-group">
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							All
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Users</a>
							</li>
							<li>
								<a href="#">Manual</a>
							</li>
						</ul>
					</div>
					<button class="btn btn-inverse" id="userSearchButton" type="button">
						<img src="img/mag.png">

					</button>
				</div>
			</div>
			<div class="centerAccord usserguide">

				<div class="searchResultsElem">
					<div class="searchPreview">
						<img src="img/docIcon.png" />
					</div>
					<div class="searchBody">
						<h3>Holiday request form</h3>
						<p>
							Suspendisse potenti. Fusce commodo tincidunt orci eu egestas. Praesent tristique, velit in sagittis adipiscing, massa leo cursus erat, quis bibendum nulla massa ut orci. Curabitur ornare tincidunt orci.
						</p>
						<i>Version 2.1 10/04/2013</i>
						<ul class="unstyled inline">
							<li>
								<ul class="unstyled inline sratings">
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star greyblue"></span>
									</li>
								</ul>
								<li><p>4 of 5 Stars</p></li>
							</li>
							<li>
								<a href="#">12 Reviews</a>
							</li>
							<li>
								<a href="#">Rate</a>
							</li>
							<li>
								<a href="#">Comment</a>
							</li>
						</ul>
					</div>
					<div class="searchType">
						<img src="img/pdfIcon.png" />
					</div>
				</div>

				<div class="searchResultsElem">
					<div class="searchPreview">
						<img src="img/docIcon.png" />
					</div>
					<div class="searchBody">
						<h3>Holiday request form</h3>
						<p>
							Suspendisse potenti. Fusce commodo tincidunt orci eu egestas. Praesent tristique, velit in sagittis adipiscing, massa leo cursus erat, quis bibendum nulla massa ut orci. Curabitur ornare tincidunt orci.
						</p>
						<i>Version 2.1 10/04/2013</i>
						<ul class="unstyled inline">
							<li>
								<ul class="unstyled inline">
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star greyblue"></span>
									</li>
									<li><p>4 of 5 Stars</p></li>
							</li>
							<li>
								<a href="#">12 Reviews</a>
							</li>
							<li>
								<a href="#">Rate</a>
							</li>
							<li>
								<a href="#">Comment</a>
							</li>
						</ul>
					</div>
					<div class="searchType">
						<img src="img/pdfIcon.png" />
					</div>
				</div>

				<div class="searchResultsElem">
					<div class="searchPreview">
						<img src="img/docIcon.png" />
					</div>
					<div class="searchBody">
						<h3>Holiday request form</h3>
						<p>
							Suspendisse potenti. Fusce commodo tincidunt orci eu egestas. Praesent tristique, velit in sagittis adipiscing, massa leo cursus erat, quis bibendum nulla massa ut orci. Curabitur ornare tincidunt orci.
						</p>
						<i>Version 2.1 10/04/2013</i>
						<ul class="unstyled inline">
							<li>
								<ul class="unstyled inline">
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star greyblue"></span>
									</li>
									<li>
										<p>
											4 of 5 Stars
										</p>
									</li>
								</ul>
								
							</li>
							<li>
								<a href="#">12 Reviews</a>
							</li>
							<li>
								<a href="#">Rate</a>
							</li>
							<li>
								<a href="#">Comment</a>
							</li>
						</ul>
					</div>
					<div class="searchType">
						<img src="img/pdfIcon.png" />
					</div>
				</div>

				<div class="searchResultsElem">
					<div class="searchPreview">
						<img src="img/docIcon.png" />
					</div>
					<div class="searchBody">
						<h3>Holiday request form</h3>
						<p>
							Suspendisse potenti. Fusce commodo tincidunt orci eu egestas. Praesent tristique, velit in sagittis adipiscing, massa leo cursus erat, quis bibendum nulla massa ut orci. Curabitur ornare tincidunt orci.
						</p>
						<i>Version 2.1 10/04/2013</i>
						<ul class="unstyled inline">
							<li>
								<ul class="unstyled inline">
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star starblue"></span>
									</li>
									<li>
										<span class="star greyblue"></span>
									</li>
									<li>
										<p>
											4 of 5 Stars
										</p>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">12 Reviews</a>
							</li>
							<li>
								<a href="#">Rate</a>
							</li>
							<li>
								<a href="#">Comment</a>
							</li>
						</ul>
					</div>
					<div class="searchType">
						<img src="img/pdfIcon.png" />
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
